.search-container {
    /* margin-top: 100px; */
    width: 800px;
    height: 320px;
    border: 1px solid black;
    margin-left: 300px;
}

.header {
    text-align: center;
    font-size: 30px;
    border-bottom: 2px solid black;
}

button {
    margin-left: 345px;
    margin-top: 10px;
    width: 100px;
}

.searches {
    margin-top: 10px;
}

.form-control {
    width: 700px;
    margin-left: 30px;
}

label {
    margin-left: 345px;
    font-weight: bold;
}
.delete-btn {
    margin-left: 385px;
    margin-top: 10px;
    width: 100px;
}

.saved-box {
    border: 1px solid black;
}