
.header-container {
    width: 800px;
    border: 1px solid black;
    margin-left: 300px;
}

.title {
    font-size: 30px;
    text-align: center;
}

.sub-title {
    font-size: 20px;
    text-align: center;
}